.waf-wlistview li.selected{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0eaff), to(#e1e4f5));
  background-image: -webkit-linear-gradient(top, #e0eaff 0%, #e1e4f5 100%);
  background-image: -moz-linear-gradient(top, #e0eaff 0%, #e1e4f5 100%);
  background-image: linear-gradient(to bottom, #e0eaff 0%, #e1e4f5 100%);
}

#waf-body.waf-theme .waf-widget.waf-wlistview li{
    border-top-width:0;
    border-color:#ededed;
    background-image:none;
    background-color:#fff;
    font-weight:bold;
}

#waf-body.waf-theme .waf-widget.waf-wlistview li.read{
    background-color:#eee;
    border-color:#cdcdcd;
    font-weight:normal;
}

.waf-widget.waf-wlistview li date, .waf-widget.waf-wlistview li .attachment{
    width:26px;
    height:26px;
    display:block;    
    float:right;
    line-height:24px;
    margin:auto 2px;
    font-weight:normal;
}

.waf-widget.waf-wlistview li date{
    width:62px;
    text-align:right;
}

.waf-widget.waf-wlistview li .attachment{
    background:transparent url(/images/attach.png) no-repeat;
    background-position:center center;
    opacity:.3;
    background-size: 70%;    
}

.waf-widget.waf-wlistview li .tag{
    background-color:#4179f7;
    color:white;
    height:12px;
    text-transform:uppercase;
    font-size:10px;
    line-height:12px;
    padding:0 6px;
    position:absolute;
    bottom:0;
    right:0;
    text-align:center;
}

.waf-widget.waf-wlistview li .star{
    border: none;
    padding: 0;
    width: 44px;
    height: 44px;
    position: absolute;
    right: -8px;
    background: transparent url(/images/star.png) no-repeat;
    background-position: 12px -35px;
    margin: auto 8px;
    clear: both;
    top: 23px;
    background-repeat: no-repeat;
    z-index:10;
}

.waf-widget.waf-wlistview li .stared{
    background-position: 12px 13px;
}